@charset "utf-8";

.row {
  margin-top: 30px;
  min-height: 100px;
}

.article {
  margin: 20px 0 30px 0;
}

.index {
	.hero-pic {
	  position: absolute;
	  width: 100%;
	  padding-bottom: 56.25%;
	  background: url(/images/city-balcony.jpg) no-repeat center 0;
	  background-size: 100% 100%;
	}
	.body_container {
		background-color: rgb(100, 100, 100);
		background-color: rgba(100, 100, 100, 0.3);
		position: absolute;
		z-index: 999;
	}
}

